In [1]:
import pandas as pd
import numpy as np

In [2]:
# For printing current path
import os
print(os.getcwd())  # This will print your current working directory

C:\Users\91729\Desktop\Projects\New Delhi AQI\All Code

In [3]:
# Loading our dataset and printing top 5 rows of our dataset
df = pd.read_csv('..\Raw Data\delhi_aqi - delhi_aqi.csv')
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\R'
<>:2: SyntaxWarning: invalid escape sequence '\R'
C:\Users\91729\AppData\Local\Temp\ipykernel_4532\2061733418.py:2: SyntaxWarning: invalid escape sequence '\R'
  df = pd.read_csv('..\Raw Data\delhi_aqi - delhi_aqi.csv')

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,11/25/2020,2616.9 µmole,2.2 µmole,70.6 µmole,13.6 µmole,38.6 µmole,364.6 µmole,411.7 µmole,28.6 µmole
1,11/25/2020,3631.6 µmole,23.3 µmole,89.1 µmole,0.3 µmole,54.4 µmole,421.0 µmole,486.2 µmole,41.0 µmole
2,11/25/2020,4539.5 µmole,52.8 µmole,100.1 µmole,1.1 µmole,68.7 µmole,463.7 µmole,542.0 µmole,49.1 µmole
3,11/25/2020,4539.5 µmole,51.0 µmole,111.0 µmole,6.4 µmole,78.2 µmole,454.8 µmole,534.0 µmole,48.1 µmole
4,11/25/2020,4379.3 µmole,42.9 µmole,117.9 µmole,17.2 µmole,87.7 µmole,448.1 µmole,529.2 µmole,46.6 µmole

In [4]:
# First let's remove Âµmole from all cells and just mention them in columne header of each row (Renaming columns)
df = df.replace({'µmole' : ''} , regex = True)
df = df.rename(columns={
    'date': 'Date',
    'co': 'CO (Âµmole)',
    'no': 'NO (Âµmole)',
    'no2': 'NO2 (Âµmole)',
    'o3': 'O3 (Âµmole)',
    'so2': 'SO2 (Âµmole)',
    'pm2_5': 'PM2.5 (Âµmole)',
    'pm10': 'PM10 (Âµmole)',
    'nh3': 'NH3 (Âµmole)'
})
df

,Date,CO (Âµmole),NO (Âµmole),NO2 (Âµmole),O3 (Âµmole),SO2 (Âµmole),PM2.5 (Âµmole),PM10 (Âµmole),NH3 (Âµmole)
0,11/25/2020,2616.9,2.2,70.6,13.6,38.6,364.6,411.7,28.6
1,11/25/2020,3631.6,23.3,89.1,0.3,54.4,421.0,486.2,41.0
2,11/25/2020,4539.5,52.8,100.1,1.1,68.7,463.7,542.0,49.1
3,11/25/2020,4539.5,51.0,111.0,6.4,78.2,454.8,534.0,48.1
4,11/25/2020,4379.3,42.9,117.9,17.2,87.7,448.1,529.2,46.6
...,...,...,...,...,...,...,...,...,...
18771,1/24/2023,1762.4,4.6,37.0,33.3,30.5,231.2,289.8,6.3
18772,1/24/2023,1735.7,6.8,35.0,46.5,34.3,225.1,280.5,9.1
18773,1/24/2023,1922.6,8.2,40.1,56.5,43.4,242.5,296.1,12.5
18774,1/24/2023,1361.9,9.1,52.8,71.5,100.1,165.7,191.8,7.5
18775,1/24/2023,1134.9,8.6,56.9,80.1,110.6,123.8,140.3,5.5

In [5]:
df.shape

(18776, 9)

In [6]:
# Checking what data types each column our dataset has
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18776 entries, 0 to 18775
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            18776 non-null  object
 1   CO (Âµmole)     18776 non-null  object
 2   NO (Âµmole)     18776 non-null  object
 3   NO2 (Âµmole)    18776 non-null  object
 4   O3 (Âµmole)     18776 non-null  object
 5   SO2 (Âµmole)    18776 non-null  object
 6   PM2.5 (Âµmole)  18776 non-null  object
 7   PM10 (Âµmole)   18776 non-null  object
 8   NH3 (Âµmole)    18776 non-null  object
dtypes: object(9)
memory usage: 1.3+ MB

In [7]:
# Since Date's datatype is object, Let's convert it to Data time
df['Date'] = pd.to_datetime(df['Date'] , errors = 'coerce')

In [8]:
df.dtypes

Date              datetime64[ns]
CO (Âµmole)               object
NO (Âµmole)               object
NO2 (Âµmole)              object
O3 (Âµmole)               object
SO2 (Âµmole)              object
PM2.5 (Âµmole)            object
PM10 (Âµmole)             object
NH3 (Âµmole)              object
dtype: object

In [9]:
# Now convert data type of other columns from object to float
columns_to_convert = ['CO (Âµmole)', 'NO (Âµmole)', 'NO2 (Âµmole)', 'O3 (Âµmole)', 'SO2 (Âµmole)', 'PM2.5 (Âµmole)', 'PM10 (Âµmole)', 'NH3 (Âµmole)']
df[columns_to_convert] = df[columns_to_convert].astype(float)
df.dtypes

Date              datetime64[ns]
CO (Âµmole)              float64
NO (Âµmole)              float64
NO2 (Âµmole)             float64
O3 (Âµmole)              float64
SO2 (Âµmole)             float64
PM2.5 (Âµmole)           float64
PM10 (Âµmole)            float64
NH3 (Âµmole)             float64
dtype: object

In [10]:
# Checking duplicated rows
df.duplicated().sum()

np.int64(0)

In [11]:
# Checking for null values
df.isnull().sum()

Date              0
CO (Âµmole)       0
NO (Âµmole)       0
NO2 (Âµmole)      0
O3 (Âµmole)       0
SO2 (Âµmole)      0
PM2.5 (Âµmole)    0
PM10 (Âµmole)     0
NH3 (Âµmole)      0
dtype: int64

In [12]:
# Checking for duplicates in date
duplicate_dates = df[df.duplicated(subset = 'Date')]
if not duplicate_dates.empty:
    print("Duplicate Dates Found : ")
    print(duplicate_dates)

Duplicate Dates Found :
            Date  CO (Âµmole)  NO (Âµmole)  NO2 (Âµmole)  O3 (Âµmole)  \
1     2020-11-25       3631.6         23.3          89.1          0.3
2     2020-11-25       4539.5         52.8         100.1          1.1
3     2020-11-25       4539.5         51.0         111.0          6.4
4     2020-11-25       4379.3         42.9         117.9         17.2
5     2020-11-25       3898.6         28.4         117.9         40.1
...          ...          ...          ...           ...          ...
18771 2023-01-24       1762.4          4.6          37.0         33.3
18772 2023-01-24       1735.7          6.8          35.0         46.5
18773 2023-01-24       1922.6          8.2          40.1         56.5
18774 2023-01-24       1361.9          9.1          52.8         71.5
18775 2023-01-24       1134.9          8.6          56.9         80.1

       SO2 (Âµmole)  PM2.5 (Âµmole)  PM10 (Âµmole)  NH3 (Âµmole)
1              54.4           421.0          486.2          41.0
2              68.7           463.7          542.0          49.1
3              78.2           454.8          534.0          48.1
4              87.7           448.1          529.2          46.6
5             101.1           437.3          511.8          42.1
...             ...             ...            ...           ...
18771          30.5           231.2          289.8           6.3
18772          34.3           225.1          280.5           9.1
18773          43.4           242.5          296.1          12.5
18774         100.1           165.7          191.8           7.5
18775         110.6           123.8          140.3           5.5

[17987 rows x 9 columns]

In [13]:
# Creating a variable which does contain Date column
numeric_df = df.drop(columns=['Date'])

# Check for negative values in the numeric columns
negative_values = (numeric_df < 0).any()

# Display the columns that contain negative values
negative_columns = negative_values[negative_values].index.tolist()

if negative_columns:
    print(f"Columns with negative values: {negative_columns}")
else:
    print("No negative values found in the dataset.")

No negative values found in the dataset.

In [14]:
#Summary statistics for the dataset
df.describe()

,Date,CO (Âµmole),NO (Âµmole),NO2 (Âµmole),O3 (Âµmole),SO2 (Âµmole),PM2.5 (Âµmole),PM10 (Âµmole),NH3 (Âµmole)
count,18776,18776.000000,18776.000000,18776.000000,18776.000000,18776.000000,18776.000000,18776.000000,18776.000000
mean,2021-12-23 03:05:45.121431808,2929.233138,33.664732,66.226475,60.349425,66.698983,238.135300,300.098077,25.115632
min,2020-11-25 00:00:00,260.400000,0.000000,4.300000,0.000000,5.300000,11.800000,15.100000,0.000000
25%,2021-06-09 00:00:00,1068.100000,0.700000,33.900000,0.300000,34.800000,84.400000,118.800000,9.600000
50%,2021-12-22 00:00:00,1842.500000,5.300000,54.200000,27.200000,52.900000,157.450000,209.700000,17.500000
75%,2022-07-07 00:00:00,3685.000000,35.800000,83.600000,93.000000,82.000000,313.000000,387.925000,30.400000
max,2023-01-24 00:00:00,21148.700000,500.700000,460.600000,801.100000,579.800000,1708.100000,1969.900000,287.800000
std,NaN,2854.523245,62.127585,48.527621,80.465939,49.438873,226.533638,267.165899,26.401633

In [15]:
# Validating the data type of each column Again
df.dtypes

Date              datetime64[ns]
CO (Âµmole)              float64
NO (Âµmole)              float64
NO2 (Âµmole)             float64
O3 (Âµmole)              float64
SO2 (Âµmole)             float64
PM2.5 (Âµmole)           float64
PM10 (Âµmole)            float64
NH3 (Âµmole)             float64
dtype: object

In [16]:
# Now Since our data is clean, let's Save our cleaned data
df.to_csv("Clean Data\clean_data.csv" , index = False)